*{
    padding: 0;
    margin: 0;
}
.text-contain{
    height: 10vmin;
    background-color: #C80036;
    color: #FFF5E1;
    border: 1vmin solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3.5vmin;
    border-radius: 2vmin;
    width: 210vmin;
}
body{
background-color: #0C1844;
}
.game{
    height: 82vmin;
    width: 160vmin;
    border:4px solid #FF6969;
    margin-left: 30vmin;
    margin-top: 8vmin;
    border-radius: 4vmin;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
    background-color: black;
}
.choices{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 3rem;
    margin-left: 3rem;
    gap: 3rem;
}

.score-board{
    height: 20vmin;
    width: 55vmin;
    border: 1.1vmin solid #C80036;
    margin-left: 50vmin;
    margin-top: 5vmin;
    border-radius: 7vmin;
}
.score-board{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10vmin;
    font-weight: bolder;
    font-size: 5vmin;
    color: #FFF5E1;
}
#user-score,
 #comp-score{
    font-size: 9vmin;
}

.msg{
    height: 12vmin;
    width: 55vmin;
    background-color: #FFF078;
    margin-left: 50vmin;
    margin-top: 4vmin;
    border-radius: 4.5vmin;
    border: 1.1vmin solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 4.1vmin;
    font-weight: bolder;
    background-color: inherit;
    transition: 0.4s;
}
.reset{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -133vmin;
    margin-top: -9vmin;
}
button{
    height: 5.8vmin;
    width: 15vmin;
    font-size: larger;
    font-weight: bolder;
    background-color: #3ABEF9;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3vmin;
    border: 0.6vmin solid #A7E6FF;
}
button:hover{
    opacity: 0.9;
    border: 1vmin solid black;
}
hr{
    border: 2vmin solid black;
}
footer{
    background-color: #B6FFFA;
    height: 40vmin;
    font-size: larger;
    font-weight: bolder;
    width: 210vmin;
}
footer p{
    margin-left: 16vmin;
    margin-top: -4vmin;
}
footer i{
margin-left: 10vmin;
margin-top: 3vmin;    
}
.profile{
    margin-left: 3vmin;
    text-decoration: none;
    color: blue;
}
.profile:hover{
    text-decoration: underline;
}
.email{
    cursor: pointer;
}
